# CDP Configuration for the main app
EXPO_PUBLIC_CDP_PROJECT_ID=YOUR_PROJECT_ID
EXPO_PUBLIC_PRIVY_APP_ID=YOUR_PRIVY_APP_ID
EXPO_PUBLIC_PRIVY_CLIENT_ID=YOUR_PRIVY_CLIENT_ID

EXPO_PUBLIC_BASE_URL=http://BACKEND_SERVER:3000

# Expo Go: true (use expo-crypto)
# TestFlight: false (use react-native-quick-crypto)
EXPO_PUBLIC_USE_EXPO_CRYPTO=true

# Optional iOS Build Number - increment for each App Store submission
IOS_BUILD_NUMBER=1

# Server configuration
PRIVY_APP_ID=YOUR_PRIVY_APP_ID
PRIVY_VERIFICATION_KEY=YOUR_PRIVY_VERIFICATION_KEY
CDP_API_KEY_ID=YOUR_COINBASE_API_KEY_ID
CDP_API_KEY_SECRET=YOUR_COINBASE_API_KEY_SECRET
BASE_RPC_URL=https://YOUR_BASE_RPC_URL
PLATFORM_API_BASE_URL=https://YOUR_PLATFORM_API_BASE_URL
REDIS_URL=redis://localhost:6379
REGENTS_CDP_JWT_ISSUER=https://YOUR_BACKEND_DOMAIN
REGENTS_CDP_JWT_AUDIENCE=coinbase-cloud
REGENTS_CDP_JWT_KID=regents-mobile
REGENTS_CDP_JWT_ALG=ES256
REGENTS_CDP_JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----"
